<section id="example" class="background-white">
  <h2 style="text-align: center; margin-bottom: 0px">
    {{ site.Title }} 
  </h2>
  <h4 style="text-align: center; margin-top: 0px">
    <a href={{site.Params.versionURL}}>v{{ site.Params.version}}</a>
  </h4>
  <div class="container" style="padding-top: 20px">
    <div class="col-md-1 col-0 col-even"></div>
    <div class="col-md-3 col-0 col-even">
      
      <h3 style="text-align: center">
        A programming language designed for productive parallel computing at scale.
      </h3>
    </div>
    
    <div class="col-md-8 col-1 col-odd">

      <div class="code-example" id="first-comparison">
        <fieldset>
          {{ range .Site.Params.codes }}
            <div class="sample-wrapper-div">
              <label class="radio-code-selector" for="radio-{{ .name }}">
                <input type="radio" id="radio-{{ .name }}" value="{{ .name }}" name="code-sample" {{ if eq .default "true" }}checked{{ end }}>
                {{ .name }}
              </label>
            </div>
          {{ end }}
        </fieldset>
        {{ range .Site.Params.codes }}
          <div class="code sample" data-for-sample="{{ .name }}">{{ highlight .code "Chapel" }}</div>
        {{ end }}
        
        <hr/>
    
        
      </div>
      <script>
      function setupCodeSample(id) {
      const elt = document.getElementById(id);
      const inputs = elt.querySelectorAll("input[type=radio]");
      const selected = elt.querySelector("input[type=radio]:checked");
      const samples = elt.querySelectorAll(".code[data-for-sample]");
    
      function showInput(input) {
        for (const s of samples) {
          if (s.attributes["data-for-sample"].value === input.value) {
            s.style.display = "block";
          } else {
            s.style.display = "none";
          }
        }
      }
    
      showInput(selected);
      for (const input of inputs) {
        input.addEventListener("change", () => showInput(input));
      }
    }
    setupCodeSample("first-comparison");
      </script>
    
      <div class="buttons">
        {{ range .Params.buttons }}
          <a href="{{ .url }}" class="button{{ if .primary }} primary{{ end }}">{{ if .icon }}{{ partial "icon" .icon }}{{ end }}{{ .name }}</a>
        {{ end }}
      </div>
    </div>
  </div>

</section>