.top-box-text {
  display: inline-block;
  width: 240px;
  height: 80px;
  line-height: 70px;
  border: solid 2px #fff;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.06em;
  color: black;
  border-color: var(--chapel-green);
  border-width: 5px;
}

.top-box-simple {
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  
}

.top-box-simple:hover {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
